<div class="container">
<div class="container-fluid">
  <h1 class="titlee">Forma</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>

    
  <form #userForm="ngForm"  *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)" novalidate>

    <div class="form-group"style="width: 50%; margin-left:25%">
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="userName" [ngModel]="userModel.name" style="border-radius: 50px 20px;">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>
      

    <div class="form-group" style="width: 50%; margin-left:25%">
        <label>E-mail</label>
        <input type="email" class="form-control" name="email" [ngModel]="userModel.email" style="border-radius: 50px 20px;">
      </div>

      <div class="form-group" style="width: 50%; margin-left:25%">
          <label>Phone</label>
          <input type="tel" #phone="ngModel" pattern="^\d{10}$" required [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [ngModel]="userModel.phone"style="border-radius: 50px 20px;">
         <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be required and 10 digits</small> -->
       
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
  
      </div>
      </div>

        <div class="form-group"style="width: 50%; margin-left:25%">

          <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" 
          [class.is-invalid]="topicHasError && topic.touched" class="custom-select" name="topic" [(ngModel)]="userModel.topic" style="border-radius: 50px 20px;">
            <option value="default">I am interested in</option>
            <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>
           </div>

        <div class="mb-3"style="width: 50%; margin-left:25%">
          <label>Time preference</label>
        </div>

          <div class="form-check"style="width: 50%; margin-left:25%">
            <input class="form-check-input" [ngModel]="userModel.subscribe" type="radio" name="timePreference" value="morning">
            <label class="form-check-label">Morning(9AM-12AM)</label>
          </div>
            
            <div class="form-check"style="width: 50%; margin-left:25%">
              <input class="form-check-input" [ngModel]="userModel.subscribe" type="radio" name="TimePreference" value="evening">
              <label class="form-check-label">Evening(5PM - 8PM)</label>
            </div>
            
            <div class="form-check mb-3"style="width: 50%; margin-left:25%">
              <input class="form-check-input" name="subscribe" ngModel type="checkbox">
              <label class="form-check-label">
                Send me promotional offers
              </label>
           </div>
            
           
           <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-secondary" style="width: 50%; margin-left:25%" type="submit">Submit form</button>
      
  </form>
  </div>
  </div>
