/* You can add global styles to this file, and also import other style files */
body {
    background-color: var(rgb(9, 85, 110));
    color: whitesmoke;
    font-family: Lato;
    padding: 0;
    margin: 0;
    font-size: 2vh
    

  }
  div{
      background-color: rgb(12, 53, 80)
        }
        
        button{
            margin-left: 400px
            
            
            
        }
        .titlee{
           text-align: center;
            
        }
        .btn{
            margin-bottom: 20px;
           
        }
     
      