
<div class="container">
<label for="inputEmail" onclick="document.getElementById('inputEmail').focus();"></label>
<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">


<label for="inputPassword" onclick="document.getElementById('inputPassword').focus();"></label>
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
<button class="btn btn-primary" (click)="saveUser(user)">Login</button>
</div>