

<div class="container-fluid">

<nav id="nav" class="navbar navbar-expand-md bg-info navbar-dark sticky-top">
  <a class="navbar-brand" href="#">DoolooApp</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
     
     
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="logovankorisnik">{{userName}}</li>
      
      <li class="navbar-nav">
        <a class="nav-link" href="javascript:void(0)" [routerLink]="['/signup']" routerLinkActive *ngIf="!currentStatus.status"><span class="fas fa-user"></span> Sign Up</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/login']" routerLinkActive *ngIf="!currentStatus.status"><span class="fas fa-user"></span> Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()" *ngIf="currentStatus.status"><span class="fas fa-user"></span> Logout</a>

      </li>

     <li class="nav-item">
          <a class="nav-link" routerLink="/profile" ><span class="fas fa-user"></span>Profile</a>
        </li>

   
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Studijski program
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/informacione-tehnologije">Informacione tehnologije</a>
              <a class="dropdown-item" routerLink="/mehatronika">Mehatronika</a>
            
            </div>
          </div>
 
    </ul>
  </div>
 

  

</nav>

</div>








<router-outlet></router-outlet>
